<!DOCTYPE html>
<html lang="en" ng-app="ShoppingListApp">
<head>
    <meta charset="UTF-8">
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <link rel="shortcut icon" href="icon/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoppinglist2App</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <h1>Shopping list2 App</h1>

    <div id="list1" ng-controller="ShoppingListController1 as list1">
        
        <input type="text" ng-model="list1.itemName" placeholder="Item Name">
        <input type="text" ng-model="list1.itemQuantity" placeholder="Item Quantity">
        <button ng-click="list1.addItem()">Add Item to list1</button>
        
        <shopping-list my-list="list1" title="{{list1.title}}"></shopping-list>
        <div ng-if="list1.errorMessage" class="error">
            Error: {{list1.errorMessage}}
        </div>

    </div>

    <div id="list2" ng-controller="ShoppingListController2 as list2">
        
        <input type="text" ng-model="list2.itemName" placeholder="Item Name">
        <input type="text" ng-model="list2.itemQuantity" placeholder="Item Quantity">
        <button ng-click="list2.addItem()">Add Item to list2</button>
        <shopping-list my-list="list2" title="Shopping list #2 (Limited to 3 items)"></shopping-list>
        <div ng-if="list2.errorMessage" class="error">
            Error: {{list2.errorMessage}}
        </div>
    </div>
    
</body>
</html>